$color_blue: blue;
$color_cornblue: cornflowerblue;
$color_blanchedalmond: blanchedalmond;
$color_red:red;
$color_grey:grey;
$color_black:black;
$color_green: green;
$color_yellow:yellow;
$font_family: Calibri, 'Trebuchet MS', sans-serif;