*{
    box-sizing: border-box;
    
}

header {
    width: 100%;
    border-bottom: 3px solid grey;
    padding: 8px;
    position: fixed;
    background-color: blue;
}

header h1, 
header .logo {
    display: inline-block;
}

nav{
    float: right;
    
}

nav li {
    display: inline;
    padding-right: 4px;
}

main {
    padding-top: 60px;
}
.news article {
    display: inline-block;
    width: 50%;
    padding: 4px;
    vertical-align: top;

}

body{
    font-family:' Calibri', 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;


}

nav li {
    list-style-type: none;

}

h1,h2 {
    color: red;
    text-align: center;
    font-size: 24px;
}

p{
    color: gray;
    font-size: 16px;
}

form {
    border: 15px solid blue;
    padding: 10px;
}














