.episodios {
  display: flex;
  width: 100%;
  padding-top: 5%;
  height: auto;
  background-image: $color-blue-gradients-section;
  //clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 15%);

  h2 {
    width: 100%;
    margin-left: 5%;
    @include title_property($font-white-color);
  }

  @include phone {
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    height: auto;
    flex-flow: column nowrap;
    padding-bottom: 50%;
    .title-episodios {
      padding-top: 20%;
      @include typography($mobile-titles-font-size, $mobile-titles-line-height);
    }
  }

  @include tablets {
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    height: auto;
    flex-flow: column nowrap;
    padding-bottom: 40%;

    .title-episodios {
      padding-top: 15%;
      @include typography($mobile-titles-font-size, $mobile-titles-line-height);
    }
  }

  @include desktop {
    //height: 1042.96px;
    padding-bottom: 20%;
    height: auto;
    flex-flow: column nowrap;

    h2 {
      @include typography($desktop-section-title-font-size, $desktop-section-title-line-height);
      margin-left: 13%;
      margin-top: 10%;
    }
  }
}

.frame-container {
  display: flex;
  width: 100%;
  margin-top: 2.6rem;
  //margin-bottom: 23.26rem;

  iframe {
    overflow: hidden;
    border: none;
  }

  @include phone {
    flex-flow: column nowrap;
    align-items: center;

    iframe {
      width: 90%;
      height: 232px;
      border: none;

      &:nth-child(2) {
        //margin-bottom: 7.2rem;
        margin-top: 5%;
      }

      &:nth-child(3), &:nth-child(4) {
        //margin-bottom: 7.2rem;
        margin-top: 5%;
      }
    }
  }

  @include tablets {
    flex-flow: column nowrap;
    align-items: center;
    height: auto;
    width: 100%;

    iframe {
      width: 80%;
      margin: 5% 0% 0% 0%;
      height: 232px;
      border: none;
    }

  }

  @include desktop {
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
    width: 100%;

    iframe {
      width: 40%;
      height: 232px;

      &:nth-child(odd) {
        margin-right: 2.5%;
      }

      &:nth-child(even) {
        margin-left: 2.5%;
      }

      &:nth-child(1), &:nth-child(2) {
        //margin-bottom: 7.2rem;
        margin-bottom: 1.75%;
      }

      &:nth-child(3), &:nth-child(4) {
        //margin-bottom: 7.2rem;
        margin-top: 1.75%;
      }
    }
  }
}