.invitados {
  display: flex;
  width: 100%;
  margin-bottom: 4%;
  margin-top: 4%;
  height: auto;

  h2 {
    @include title_property($font-black-color);
    width: 100%;
  }

  @include phone {
    flex-flow: column nowrap;
    h2 {
      @include typography($mobile-section-title-font-size, $mobile-section-title-line-height);
      margin-left: 5%;
      margin-bottom: 4%;
    }
  }

  @include tablets {
    margin-top: 8%;
    flex-flow: column wrap;
    h2 {
      @include typography($mobile-section-title-font-size, $mobile-section-title-line-height);
      margin-left: 10%;
      margin-bottom: 4%;
      padding-right: 20%;
    }
  }

  @include desktop {
    flex-direction: column;
    h2 {
      @include typography($desktop-section-title-font-size, $desktop-section-title-line-height);
      margin-left: 17%;
      margin-bottom: 3.6rem;
    }
  }
}

.guest-img-container {
  width: 100%;
  display: flex;

  @include phone {
    flex-flow: column nowrap;

    .item-img {
      width: calc(100%);
    }
  }

  @include tablets {
    flex-flow: column nowrap;

    .item-img {
      width: calc(100%);
    }
  }

  @include desktop {
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    height: auto;

    .item-img {
      width: calc(100% / 3);
    }
  }
}