.temas {
  width: 100%;
  display: flex;
  height: auto;

  h2 {
    @include title_property($font-black-color);
    //width: 100%;
  }

  @include phone {
    flex-flow: column nowrap;
    padding-bottom: 8%;
    h2 {
      @include typography($mobile-section-title-font-size, $mobile-section-title-line-height);
      margin-left: 5%;
      margin-bottom: 5%;
      margin-top: 12%;
      max-width: 28.8rem;
    }
  }

  @include tablets {
    flex-flow: column nowrap;
    h2 {
      @include typography($desktop-section-title-font-size, $desktop-section-title-line-height);
      margin-left: 14%;
      margin-bottom: 5%;
      margin-top: 12%;
    }
  }

  @include desktop {
    flex-flow: column nowrap;
    h2 {
      @include typography($desktop-section-title-font-size, $desktop-section-title-line-height);
      margin-left: 14%;
      margin-bottom: 0%;
    }
  }
}

.temas-iconos {
  display: flex;

  .item-icon {
    display: flex;

    h3 {
      @include title_property($font-black-color);
      width: 100%;
      text-align: $font-button-align-center;
    }
  }

  @include phone {
    flex-direction: column;

    .item-icon {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      margin: 8% 0% 8% 0%;

      img {
        width: 10.4rem;
        height: 10.4rem;
      }

      h3 {
        @include typography($mobile-icon-title-font-size, $mobile-icon-title-title-line-height);
      }
    }
  }

  @include tablets {
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 4.5%;
    margin-left: 15%;
    margin-right: 15%;

    .item-icon {
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 4.5%;

      img {
        width: 10.4rem;
        height: 10.4rem;
      }

      h3 {
        @include typography($desktop-icon-title-font-size, $desktop-icon-title-title-line-height);
        margin-top: 2.9rem;
        max-width: 23rem;
        text-align: center;
      }
    }
  }

  @include desktop {
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 4.5%;
    margin-left: 15%;
    margin-right: 15%;

    .item-icon {
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 4.5%;

      img {
        width: 10.4rem;
        height: 10.4rem;
      }

      h3 {
        @include typography($desktop-icon-title-font-size, $desktop-icon-title-title-line-height);
        margin-top: 2.9rem;
        max-width: 23rem;
        text-align: center;
      }
    }
  }
}