.desktop-menu {
    display: flex;
    width: 100%;
}

.desktop-menu ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.desktop-menu li {
    list-style: none;
}

.mobile-menu {
    display: none;
}