* {
    box-sizing: border;
    margin: 0;
    padding: 0;
}

html {
    margin: 40px;
}

.desktop-menu {
    display: none;
}

.navigation-button {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin: 0 10px;
}

div.menu-list-mobile {
    display: none;
}

.navigation-checkbox:checked~div {
    display: block;
}

.navigation-checkbox {
    display: none;
}

.menu-list-mobile-item {
    height: 50px;
    border: 1px solid black;
}

.menu-list-mobile-item:hover {
    background-color: rgb(223, 223, 223);
    color: rgb(240, 75, 124);
}