main {
    padding-top: 60px;

    @media (max-width: $mobile_breakpoint) {
        padding-top: 130px;
    }
}

.news article {
    display: inline-block;
    width: 50%;
    padding: 4px;
    vertical-align: top;

    @media (max-width: $mobile_breakpoint) {
        width: 100%;
    }
}