
@import './variables';
@import "./header";
@import "./main";

*{
    box-sizing: border-box;
    
}



body{
    font-family: $font_family;
    margin: 0;
    padding: 0;


}


h1,h2 {
    color: $red;
    text-align: center;
    font-size: 24px;
}

p{
    color: $gray;
    font-size: 16px;
}

form {
    border: 15px solid $blue;
    padding: 10px;
}

.button{
    background:  linear-gradient(to bottom, $green_light 0%, $green_dark 50%,$green_light 100%);
    display: block;
    padding: 4px 8px;
    border-radius:4px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: $black;
}
