* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /* =10px 62.5%*/
}

header {
  width: 100%;
  height: auto;
}

.nav-container {
  padding: 2.6rem 0;
  display: flex;
}
.nav-container .menu-label {
  cursor: pointer;
  margin-right: 5%;
}
.nav-container .menu-label i {
  font-size: 2rem;
}
.nav-container .menu-label2 {
  cursor: pointer;
}
.nav-container .menu-label2 i {
  font-size: 2rem;
}
.nav-container .menu-label2 {
  visibility: hidden;
  display: none;
}
.nav-container .menu-label1 {
  visibility: visible;
  display: block;
}
@media screen and (max-width: 400px) {
  .nav-container {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .nav-container .logo {
    padding-left: 5%;
  }
  .nav-container .menu-check {
    display: none;
  }
  .nav-container .menu-check:checked ~ .menu-lista {
    display: block;
    position: absolute;
    top: 55px;
    background-color: #0000FE;
  }
  .nav-container .menu-check:checked ~ .menu-label {
    display: none;
    visibility: hidden;
    margin-right: 5%;
  }
  .nav-container .menu-check:checked ~ .menu-label2 {
    display: block;
    visibility: visible;
    margin-right: 5%;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .nav-container {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .nav-container .logo {
    width: 2.6rem;
    height: 2.6rem;
    margin-left: 7%;
  }
  .nav-container .logo img {
    width: 100%;
  }
  .nav-container .menu-check {
    display: none;
  }
  .nav-container .menu-check:checked ~ .menu-lista {
    display: block;
    position: absolute;
    top: 55px;
    background-color: #0000FE;
  }
  .nav-container .menu-check:checked ~ .menu-label {
    display: none;
    visibility: hidden;
    margin-right: 5%;
  }
  .nav-container .menu-check:checked ~ .menu-label2 {
    display: block;
    visibility: visible;
    margin-right: 5%;
  }
}
@media screen and (min-width: 769px) {
  .nav-container {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .nav-container .logo {
    width: 3.6rem;
    height: 3.6rem;
    margin-left: 7%;
  }
  .nav-container .logo img {
    width: 100%;
  }
  .nav-container .menu-label2,
.nav-container .menu-label,
.nav-container .menu-check {
    display: none;
  }
}

.menu-lista {
  display: flex;
  margin-right: 7%;
  list-style-type: none;
}
.menu-lista li a {
  text-decoration: none;
  color: #060A24;
  color: #060A24;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  text-transform: uppercase;
}
.menu-lista li a:hover {
  color: #00F3BB;
  text-decoration: line-through;
}
.menu-lista li a:active {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}
@media screen and (max-width: 400px) {
  .menu-lista {
    display: none;
    height: auto;
    position: absolute;
    width: 100%;
  }
  .menu-lista li {
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .menu-lista li a {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .menu-lista {
    display: none;
    position: absolute;
    width: 100%;
  }
  .menu-lista li {
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .menu-lista li a {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}
@media screen and (min-width: 769px) {
  .menu-lista {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .menu-lista li:nth-child(2), .menu-lista li:nth-child(3), .menu-lista li:nth-child(4) {
    margin-left: 4.8rem;
  }
  .menu-lista li a {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}

.hellow {
  height: auto;
}
.hellow h1 {
  color: #060A24;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  width: 100%;
}
.hellow p {
  color: #060A24;
  text-align: justify;
  font-family: "IBM Plex Mono", monospace;
  width: 100%;
}
.hellow .hellow-button {
  background-color: #00F3BB;
  text-align: center;
  color: #060A24;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  border: none;
  text-decoration: none;
}
.hellow .hellow-button:hover {
  background-image: linear-gradient(to left, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
}
@media screen and (max-width: 400px) {
  .hellow {
    margin-left: 5%;
    margin-bottom: 8%;
  }
  .hellow h1 {
    font-size: 3.6rem;
    line-height: 4.2rem;
  }
  .hellow p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    max-height: 6.6%;
    margin-top: 5%;
  }
  .hellow .hellow-button {
    width: 28.8rem;
    height: 4.8rem;
    margin-top: 12%;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .hellow {
    margin-top: 8.5%;
    margin-bottom: 1%;
    margin-left: 13.8%;
  }
  .hellow h1 {
    font-size: 6.4rem;
    line-height: 8.4rem;
  }
  .hellow h1 .dot {
    color: #0000FE;
  }
  .hellow p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    max-width: 63rem;
    padding-right: 12%;
  }
  .hellow .hellow-button {
    font-size: 1.8rem;
    line-height: 2.4rem;
    width: 22.6rem;
    height: 5.6rem;
    margin-top: 8%;
  }
}
@media screen and (min-width: 769px) {
  .hellow {
    margin-top: 8.5%;
    margin-bottom: 1%;
    margin-left: 13.8%;
  }
  .hellow h1 {
    font-size: 6.4rem;
    line-height: 8.4rem;
  }
  .hellow h1 .dot {
    color: #0000FE;
  }
  .hellow p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    max-width: 63rem;
  }
  .hellow .hellow-button {
    font-size: 1.8rem;
    line-height: 2.4rem;
    width: 22.6rem;
    height: 5.6rem;
    margin-top: 5%;
  }
}

.episodios {
  display: flex;
  width: 100%;
  padding-top: 5%;
  height: auto;
  background-image: linear-gradient(to left, #0000FF 0%, #0000A3 100%);
  clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 15%);
}
.episodios h2 {
  width: 100%;
  margin-left: 5%;
  color: #FFFFFF;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 400px) {
  .episodios {
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    height: auto;
    flex-flow: column nowrap;
    padding-bottom: 50%;
  }
  .episodios .title-episodios {
    padding-top: 20%;
    font-size: 3.6rem;
    line-height: 4.2rem;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .episodios {
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    height: auto;
    flex-flow: column nowrap;
    padding-bottom: 40%;
  }
  .episodios .title-episodios {
    padding-top: 15%;
    font-size: 3.6rem;
    line-height: 4.2rem;
  }
}
@media screen and (min-width: 769px) {
  .episodios {
    padding-bottom: 20%;
    height: auto;
    flex-flow: column nowrap;
  }
  .episodios h2 {
    font-size: 4.8rem;
    line-height: 6.2rem;
    margin-left: 13%;
    margin-top: 10%;
  }
}

.frame-container {
  display: flex;
  width: 100%;
  margin-top: 2.6rem;
}
.frame-container iframe {
  overflow: hidden;
  border: none;
}
@media screen and (max-width: 400px) {
  .frame-container {
    flex-flow: column nowrap;
    align-items: center;
  }
  .frame-container iframe {
    width: 90%;
    height: 232px;
    border: none;
  }
  .frame-container iframe:nth-child(2) {
    margin-top: 5%;
  }
  .frame-container iframe:nth-child(3), .frame-container iframe:nth-child(4) {
    margin-top: 5%;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .frame-container {
    flex-flow: column nowrap;
    align-items: center;
    height: auto;
    width: 100%;
  }
  .frame-container iframe {
    width: 80%;
    margin: 5% 0% 0% 0%;
    height: 232px;
    border: none;
  }
}
@media screen and (min-width: 769px) {
  .frame-container {
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  .frame-container iframe {
    width: 40%;
    height: 232px;
  }
  .frame-container iframe:nth-child(odd) {
    margin-right: 2.5%;
  }
  .frame-container iframe:nth-child(even) {
    margin-left: 2.5%;
  }
  .frame-container iframe:nth-child(1), .frame-container iframe:nth-child(2) {
    margin-bottom: 1.75%;
  }
  .frame-container iframe:nth-child(3), .frame-container iframe:nth-child(4) {
    margin-top: 1.75%;
  }
}

.nosotros {
  display: flex;
  margin-top: 1%;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 400px) {
  .nosotros {
    flex-flow: column nowrap;
    align-items: center;
    margin-top: -102px;
    margin-bottom: 18%;
  }
  .nosotros .nosotros-img {
    width: 30rem;
    height: 51.9rem;
    z-index: 1;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .nosotros {
    flex-flow: row wrap;
    justify-content: center;
  }
  .nosotros .nosotros-img {
    margin-top: -30%;
    width: 42rem;
    height: 60rem;
    z-index: 1;
  }
}
@media screen and (min-width: 769px) {
  .nosotros {
    flex-flow: row wrap;
    justify-content: center;
  }
  .nosotros .nosotros-img {
    margin-top: -15%;
    z-index: 2;
    width: 45.76rem;
    height: 66rem;
  }
}

.nosotros-text-container h2 {
  width: 100%;
  color: #060A24;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}
.nosotros-text-container p {
  color: #060A24;
  text-align: justify;
  font-family: "IBM Plex Mono", monospace;
}
@media screen and (max-width: 400px) {
  .nosotros-text-container h2 {
    font-size: 3.6rem;
    line-height: 4.2rem;
    max-width: 90%;
    max-height: 1.5%;
    margin-bottom: 3%;
    margin-top: 7%;
    margin-left: 5%;
  }
  .nosotros-text-container p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    max-width: 90%;
    max-height: 4.7%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .nosotros-text-container h2 {
    font-size: 3.6rem;
    line-height: 4.2rem;
    margin-bottom: 3%;
    margin-top: 7%;
    margin-left: 5%;
    padding-right: 8%;
  }
  .nosotros-text-container p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 769px) {
  .nosotros-text-container {
    margin-left: 2.3%;
  }
  .nosotros-text-container h2 {
    font-size: 4.8rem;
    line-height: 6.2rem;
    max-width: 41rem;
  }
  .nosotros-text-container p {
    max-width: 47rem;
    margin-top: 5%;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: justify;
  }
}

.invitados {
  display: flex;
  width: 100%;
  margin-bottom: 4%;
  margin-top: 4%;
  height: auto;
}
.invitados h2 {
  color: #060A24;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  width: 100%;
}
@media screen and (max-width: 400px) {
  .invitados {
    flex-flow: column nowrap;
  }
  .invitados h2 {
    font-size: 3.6rem;
    line-height: 4.2rem;
    margin-left: 5%;
    margin-bottom: 4%;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .invitados {
    margin-top: 8%;
    flex-flow: column wrap;
  }
  .invitados h2 {
    font-size: 3.6rem;
    line-height: 4.2rem;
    margin-left: 10%;
    margin-bottom: 4%;
    padding-right: 20%;
  }
}
@media screen and (min-width: 769px) {
  .invitados {
    flex-direction: column;
  }
  .invitados h2 {
    font-size: 4.8rem;
    line-height: 6.2rem;
    margin-left: 17%;
    margin-bottom: 3.6rem;
  }
}

.guest-img-container {
  width: 100%;
  display: flex;
}
@media screen and (max-width: 400px) {
  .guest-img-container {
    flex-flow: column nowrap;
  }
  .guest-img-container .item-img {
    width: calc(100%);
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .guest-img-container {
    flex-flow: column nowrap;
  }
  .guest-img-container .item-img {
    width: calc(100%);
  }
}
@media screen and (min-width: 769px) {
  .guest-img-container {
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    height: auto;
  }
  .guest-img-container .item-img {
    width: calc(100% / 3);
  }
}

.temas {
  width: 100%;
  display: flex;
  height: auto;
}
.temas h2 {
  color: #060A24;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 400px) {
  .temas {
    flex-flow: column nowrap;
    padding-bottom: 8%;
  }
  .temas h2 {
    font-size: 3.6rem;
    line-height: 4.2rem;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 12%;
    max-width: 28.8rem;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .temas {
    flex-flow: column nowrap;
  }
  .temas h2 {
    font-size: 4.8rem;
    line-height: 6.2rem;
    margin-left: 14%;
    margin-bottom: 5%;
    margin-top: 12%;
  }
}
@media screen and (min-width: 769px) {
  .temas {
    flex-flow: column nowrap;
  }
  .temas h2 {
    font-size: 4.8rem;
    line-height: 6.2rem;
    margin-left: 14%;
    margin-bottom: 0%;
  }
}

.temas-iconos {
  display: flex;
}
.temas-iconos .item-icon {
  display: flex;
}
.temas-iconos .item-icon h3 {
  color: #060A24;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 400px) {
  .temas-iconos {
    flex-direction: column;
  }
  .temas-iconos .item-icon {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 8% 0% 8% 0%;
  }
  .temas-iconos .item-icon img {
    width: 10.4rem;
    height: 10.4rem;
  }
  .temas-iconos .item-icon h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .temas-iconos {
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 4.5%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .temas-iconos .item-icon {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.5%;
  }
  .temas-iconos .item-icon img {
    width: 10.4rem;
    height: 10.4rem;
  }
  .temas-iconos .item-icon h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-top: 2.9rem;
    max-width: 23rem;
    text-align: center;
  }
}
@media screen and (min-width: 769px) {
  .temas-iconos {
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 4.5%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .temas-iconos .item-icon {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.5%;
  }
  .temas-iconos .item-icon img {
    width: 10.4rem;
    height: 10.4rem;
  }
  .temas-iconos .item-icon h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-top: 2.9rem;
    max-width: 23rem;
    text-align: center;
  }
}

.novedades {
  width: 100%;
  height: auto;
  display: flex;
  padding-bottom: 20%;
  padding-top: 25%;
  background-image: linear-gradient(to left, #0000FF 0%, #0000A3 100%);
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
}
.novedades h2 {
  color: #FFFFFF;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.novedades .novedades-button {
  background-color: #00F3BB;
  text-align: center;
  color: #060A24;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  border: none;
  text-decoration: none;
}
.novedades .novedades-button:hover {
  background-image: linear-gradient(to left, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
}
@media screen and (max-width: 400px) {
  .novedades {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .novedades h2 {
    font-size: 3.6rem;
    line-height: 4.2rem;
    max-width: 28.8rem;
  }
  .novedades .novedades-button {
    width: 100%;
    margin-top: 11%;
    font-size: 1.6rem;
    line-height: 2.2rem;
    width: 28.8rem;
    height: 4.8rem;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .novedades {
    padding-top: 16%;
    padding-bottom: 13%;
    flex-flow: column nowrap;
    align-items: center;
  }
  .novedades h2 {
    font-size: 4.8rem;
    line-height: 6.2rem;
  }
  .novedades .novedades-button {
    margin-top: 3.5%;
    font-size: 1.8rem;
    line-height: 2.4rem;
    width: 34.5rem;
    height: 5.6rem;
  }
}
@media screen and (min-width: 769px) {
  .novedades {
    padding-top: 16%;
    padding-bottom: 13%;
    flex-flow: column nowrap;
    align-items: center;
  }
  .novedades h2 {
    font-size: 4.8rem;
    line-height: 6.2rem;
  }
  .novedades .novedades-button {
    margin-top: 3.5%;
    font-size: 1.8rem;
    line-height: 2.4rem;
    width: 34.5rem;
    height: 5.6rem;
  }
}

.foot-social {
  width: 100%;
}
.foot-social .social-container {
  display: flex;
}
.foot-social .social-container p {
  color: #060A24;
  text-align: justify;
  font-family: "IBM Plex Mono", monospace;
  width: 100%;
}
@media screen and (max-width: 400px) {
  .foot-social .social-container {
    margin-top: 8%;
    margin-bottom: 10%;
    flex-direction: column;
  }
  .foot-social .social-container p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: center;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .foot-social .social-container {
    margin-top: 6%;
    margin-bottom: 4%;
    padding-left: 7%;
    padding-right: 7%;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .foot-social .social-container p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    text-align: center;
  }
}
@media screen and (min-width: 769px) {
  .foot-social .social-container {
    margin-top: 2.5%;
    margin-bottom: 2.15%;
    padding-left: 7%;
    padding-right: 7%;
    flex-direction: row;
    justify-content: space-between;
  }
  .foot-social .social-container p {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}

.social-icon {
  display: flex;
}
.social-icon .icon-link {
  text-decoration: none;
  color: #060A24;
}
@media screen and (max-width: 400px) {
  .social-icon {
    justify-content: space-around;
  }
  .social-icon .icon-link {
    margin-top: 9%;
  }
  .social-icon .icon-link i {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .social-icon {
    width: 100%;
    margin-top: 5%;
    justify-content: center;
  }
  .social-icon .icon-link:nth-child(5), .social-icon .icon-link:nth-child(4), .social-icon .icon-link:nth-child(3), .social-icon .icon-link:nth-child(2) {
    margin-left: 3.6rem;
  }
  .social-icon .icon-link i {
    font-size: 2rem;
  }
}
@media screen and (min-width: 769px) {
  .social-icon .icon-link:nth-child(5), .social-icon .icon-link:nth-child(4), .social-icon .icon-link:nth-child(3), .social-icon .icon-link:nth-child(2) {
    margin-left: 3.6rem;
  }
  .social-icon .icon-link i {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
