* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ffe4c4;
    animation: colors-anim 5s infinite;
}

main {
    margin-left: auto;
    margin-right: auto;
    padding: 5% 0;
}

.container {
    position: relative;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 50%;
    border-style: solid;
    background-color: darkseagreen;
}

.dot_point {
    position: absolute;
    border-radius: 50%;
    background-color: blueviolet;
    width: 20px;
    height: 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.position_center{
    position: absolute;
    top: 50%;
    margin: 0 auto;
    background-color: black;
    /* transform-origin: top center; */

    /* transform-origin: x-axis y-axis z-axis|initial|inherit; */
    transform-origin: 0% 0%;
}

.seconds{
    width: 1%;
    height: 32%;
    left: 49.6%;    /*   toco centrar manualmente, existe otra forma mas practica? */
    /*   animation: radial_motion 60s linear 0s infinite;  https://codepen.io/team/css-tricks/pen/bEdKaW */
    animation: radial_motion 60s steps(60, end) infinite;
}

.minutes{
    width: 2%;
    height: 28%;
    left: 49%;

    animation: radial_motion 3600s steps(60, end) infinite;
}

.hours{

    width: 2.6%;
    height: 25%;
    left: 48.8%;

    animation: radial_motion 43200s steps(12, end) infinite;
}

@keyframes radial_motion {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes colors-anim {
    0% {
        background: #f5f5f5;
    }
    50% {
        background: gainsboro;
    }
    100% {
        background: #fdf5e6;
    }
}